<% if @user.errors.any? %>
<div id="error_explanation">
  <p class="form-errors"><%=pluralize(@user.errors.count, "error") %> prohibited you from signing up:
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg  %></li>
    <% end %>
  </ul>
  <p>
</div>
<% end %>