/*-----------------entire file--------------------------*/
div {
	/*border: 1px solid red;*/
}


* {
	font-family: 'Open Sans', sans-serif;
}

	body {
		/*background-color: #D9F3F7;*/
		background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
	}

/*----------------head container---------------------*/

	#container{
		width: 90%;
		margin: auto;
		/*border: 3px solid #37445B;*/
		padding: 4px 40px 4px 40px;
		text-align: center;
	}


/*--------------------top navigation bar-----------------*/

	.navbar-item {
		height: 40px;
		border: 3px solid #37445B;
		border-radius: 10px;
		margin: 0 2px 0 2px;
	}

	.navbar {
		display: flex;
	}

	.navbar-keyboard {
		margin-top: -10px;
		margin-right: -80px;
		color: rgba(0, 0, 0, 0);
		width: 200px;
	}

	.navbar-controls-text {
		text-align: right;
		margin-top: -35px;
		margin-right: 10px;
		/*border: 2px solid red;*/
	}

	.navbar-home-button button{
		text-align: center;
		font-size: 25px;
		width: 100px;
		margin-top: 15%;
	}

/* button transition hover*/






/*----------------------grid system-----------------*/

/*this is the empty row above the first row of icons*/
	.empty-row {
		height: 50px;
		border-radius: 10px;
	}

/*each individual tile*/
	.words-col {
		border: 2px solid #37445B;
		min-height: 120px;
		border-radius: 10px;
		text-align: center;
		font-size: 20px;
		/*background-color: rgba(43,108,118, 0.1);*/
		margin: 0.5%;
		/*border-style: groove;
    border-color: coral;
    border-width: 2px;*/
	}

.words-col img {
	height: 70px;
}


/*a row of tiles*/
	.words-row {
	    display: flex;
			/*border: 1px solid red;*/
			/*height: 100px;*/
	}

.navbar-keyboard img {
	margin: 5% ;
	height: 100px;
}

.categories-col {
	border-style: solid;
	box-shadow: 5px 5px 2.5px #377da7;
}

.keywords-col {
	border: 10px solid black;
}


/*---------------------keyboard page------------------*/
.keyboard-grid {
	font-size: 25px;
}

/*----------------sentence-bar -------------------------*/
	#sound{
		display: none;
	}

	.sentence {
		display: flex;
	}

	.sentence-bar {
		border: 3px solid #37445B;
		min-height: 95px;
		border-radius: 10px;
		margin: .5%;
		padding: 0 0 15px 34px;
		/*overflow: scroll;*/
	}

	.speak {
		margin-left: -30px;
		margin-right: 40px;
		/*border: 2px solid red;*/
	}

.speak img {
	height: 100px;
	/*border: 2px solid red;*/
}

	.delete-button img {
		display:block;
		margin: 8px 0 0 0;
		/*border: 2px solid red;*/
	}

	/*sentence columns*/
	.sentence-col {
		/*border: 2px solid red;*/
		height: 10px;
		width: 100px;
		margin: 12px 5px 0 0;
	}

	/*images in the sentence bar*/
	.sentence-col img {
		height: 70px;
	}
