/*-----------------entire file--------------------------*/

* {
	font-family: 'Open Sans', sans-serif;
}

	body {
		background-color: #D9F3F7;
	}

/*----------------head container---------------------*/

	#container{
		width: 90%;
		margin: auto;
		border: 3px solid #37445B;
		padding: 4px 40px 4px 40px;
		text-align: center;
	}


/*--------------------top navigation bar-----------------*/

	.navbar-item {
		height: 40px;
		border: 3px solid #37445B;
		border-radius: 10px;
		margin: 0 2px 0 2px;
	}

	.navbar {
		display: flex;
	}

	.navbar-keyboard {
		margin-top: -20px;
		margin-right: -80px;
		color: rgba(0, 0, 0, 0);
	}

	.navbar-controls-text {
		text-align: right;
		margin-top: -35px;
		margin-right: 10px;
		/*border: 2px solid red;*/
	}

/*----------------------grid system-----------------*/

/*this is the empty row above the first row of icons*/
	.empty-row {
		height: 50px;
		border-radius: 10px;
	}

/*each individual tile*/
	.words-col {
		border: 2px solid #37445B;
		min-height: 120px;
		border-radius: 10px;
		text-align: center;
		display: block;
		margin:auto;

	}

/*a row of tiles*/
	.words-row {
	    display: flex;
			/*border: 1px solid red;*/
			/*height: 100px;*/
	}



/*---------------------keyboard page------------------*/
.keyboard-grid {
	font-size: 25px;
}

/*----------------sentence-bar -------------------------*/
	#sound{
		display: none;
	}

	.sentence {
		display: flex;
	}

	.sentence-bar {
		border: 3px solid #37445B;
		min-height: 95px;
		border-radius: 10px;
		margin: .5%;
		padding: 0 0 15px 34px;
		/*overflow: scroll;*/
	}

	.speak {
		margin-left: -30px;
		margin-right: 40px;
		/*border: 2px solid red;*/
	}

	.delete-button {
		display:block;
		margin:auto;
	}

	/*sentence columns*/
	.sentence-col {
		/*border: 2px solid red;*/
		/*height: 10px;*/
		width: 70px;
		margin: 12px 5px 0 0;
	}

	/*images in the sentence bar*/
	.sentence-col img {
		height: 30px;
	}