/* MOBILE SCREEN */

.modal-title{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  padding-left: 20px;
}

.form-group>.col-sm-10{
  margin-bottom: 15px;
}

.gender-group{
  margin-left: 25px
}


/* NORMAL SCREEN */

@media (min-width: 768px){
  .modal-title{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    padding-left: 20px;
  }

  .form-group>.col-sm-10{
    margin-bottom: 15px;
  }

  .gender-group{
    margin-left: 25px
  }

}