<div id="container">



	<audio id="sound" controls>
  	<source id="sound-src" src="" type="audio/mpeg">
	</audio>



		<div class="row sentence">

			<div class="col-md-1 speak">
				<%= image_tag 'icons/speak.png'%>
			</div>

			<div class="col-md-10 sentence-bar"></div>

			<div class="col-md-1 delete-button">
				<img src="/assets/icons/backspace.png", alt="Backspace", height="75px">
			</div>
		</div>



	<!-- <div class="row navbar">
		<div class="col-md-4">
			<div class="navbar-controls navbar-controls-text"></div>
		</div>
		<div class="col-md-2 navbar-home-button">
			<button type="button" class="btn btn-primary">Home</button>
		</div>
		<div class="populate-me">
			<div class="col-md-2 navbar-keyboard" data-category="Keyboard">
				<img src="/assets/icons/Keyboard.svg", alt="Keyboard">
			</div>
		</div>
		<div class="col-md-4">
			<div class="navbar-controls navbar-controls-text">
			</div>
		</div>
	</div> -->
	<!-- <div class="row empty-row"></div> -->


	<div class="populate-me last">

		<div class="main-populate-me">
			<%= render "partials/categories_render" %>
		</div>

		<% if session[:user_id] %>
			<div class="most-recent-header">
				<% if @most_recent[0] != nil %>
					<h2>Recently Used</h2>
				<% end %>
			</div>
				<div class="most-recent-populate-me">
					<%= render partial: "partials/most", locals: {most: @most_recent} %>
				</div>
			<!-- <h1>Most Used</h1> -->
				<!-- <div class="most-used-populate-me"> -->
					<%#= render partial: "partials/most", locals: {most: @most_used} %>
				<!-- </div> -->

		<% end %>
	</div>

</div>
